//Global Variables
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
$primary-color: #ff8800;
//---------------------------------------------------------------
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins";
}

.navbar {
  font-family: "Poppins";
  background: white;
  padding: 3rem 2rem;
  padding-top: 3rem;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.19);

  .navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
  }
}

#hero {
  width: 100%;
  height: 25vh;
  background: url(../images/IMG_9537.png);
  background-size: cover;
  background-position: 0px -15px;
  background-repeat: no-repeat;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
  position: relative;

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "main secondary";
  }

  .main {
    grid-area: main;
  }

  .secondary {
    font-family: "Poppins";
    grid-area: secondary;
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

    div {
      display: flex;
      a {
        i {
          color: white;
          font-size: 2.5rem;
          margin-right: 0.5rem;
        }
      }

      button {
        border: none;
        background: $primary-color;
        padding: 0.5rem 0.5rem;
        font-size: 1rem;
        color: white;
        border-radius: 3px;
        i {
          font-size: 1.25rem;
        }
      }
    }

    h2 {
      margin: 0;
      font-size: 1rem;
    }

    h1 {
      font-weight: bold;
      margin-bottom: 0;
    }

    .location-info {
      font-size: 1rem;
      color: rgba(255, 255, 255, 0.68);
      align-items: center;
      margin-bottom: 1rem;
      i {
        margin-right: 0.5rem;
      }
    }
  }
}

#about {
  background: $primary-color;
  width: 100%;
  padding: 2rem 2rem;

  .about-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    .line {
      margin-left: 10px;
      width: 80%;
      background: white;
      height: 2px;
      border-radius: 5px;
    }
  }

  h1 {
    color: white;
    font-weight: bold;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "main secondary";
  }

  .main {
    grid-area: main;
    font-family: "poppins";
    background: white;
    padding: 2rem 3rem;
    margin-bottom: 2rem;
    border-radius: 3px;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.19);
    p {
      margin-bottom: 0.5rem;
      span {
        color: $primary-color;
      }
    }

    .btn-style {
      background: $primary-color;
      border: none;
      color: white;
      padding: 0.5rem 1.25rem;
      justify-content: center;
      border-radius: 3px;
      margin-bottom: 1rem;
      font-size: 1.5rem;
      box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.19);
    }
  }

  .secondary {
    grid-area: secondary;
    background: url("../../images/HP\ v2.png");
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
  }
}

#skills {
  background: url(../images/keyboard-bg.png);
  background-position: center;
  background-size: cover;
  height: auto;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);

  div {
    width: 90%;
    margin: auto;
    padding: 2rem 0;
    h2 {
      font-weight: bold;
    }

    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 1rem 2rem;
      grid-template-areas:
        "education education education"
        "tab-1 tab-2 tab-3"
        "tab-4 tab-5 tab-6";
    }

    .education {
      grid-area: education;
    }

    .tab-1 {
      grid-area: tab-1;
    }

    .tab-2 {
      grid-area: tab-2;
    }

    .tab-3 {
      grid-area: tab-3;
    }

    .tab-4 {
      grid-area: tab-4;
    }

    .tab-5 {
      grid-area: tab-5;
    }

    .tab-6 {
      grid-area: tab-6;
    }
  }

  .skill-style {
    background: white;
    width: 100%;
    padding: 1rem 1rem;
    border-radius: 3px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.31);

    h2 {
      font-size: 1.15rem;
      margin-bottom: 0;
    }

    p {
      margin-bottom: 0;
      color: $primary-color;
    }
  }
}

#projects {
  width: 90%;
  margin: auto;
  padding: 2rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .underline {
    width: 90%;
    height: 0.25vh;
    border-radius: 5px;
    background: $primary-color;
  }

  .projects-body {
    margin: 1rem 0;

    .web-dev,
    .ux-ui,
    .graphic-design {
      margin-bottom: 2rem;
      h1 {
        span {
          color: $primary-color;
        }
      }
    }

    .project-grid {
      .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px 10px;
        grid-template-areas:
          "project-1 project-2"
          "project-3 project-4";
      }

      .project-1 {
        grid-area: project-1;
      }

      .project-2 {
        grid-area: project-2;
      }

      .project-3 {
        grid-area: project-3;
      }

      .project-4 {
        grid-area: project-4;
      }
    }
  }
}

.footer {
  width: 100%;
  background: rgba(0, 0, 0, 0.04);
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    width: 75%;
    margin: auto;
    padding: 0 2rem;
    text-align: center;
    p {
      margin: 0;
      font-size: 1.2rem;
    }
  }
}

.content {
  position: absolute;
}

.hidden {
  display: none;
}
